body {
	color: #212121;
	font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	color: #757575;
	font-weight: normal;
}

a:hover {
	color: #673ab7;
}

.acpWrapper {
	padding-left: 13em;
}

.navigation {
	background: #FFF;
	border-right: 1px solid #e0e0e0;
	bottom: 0;
	left: 0;
	top: 0;
	position: fixed;
	width: 13em;
}
	.navigation > .pure-menu {
		background: none;
		border: none;
	}
	.navigation .pure-menu-heading {
		font-size: 1.25em;
		font-weight: 500;
		padding: .5em 1.2em;
	}
	.navigation li.divider {
		border-top: 1px solid #e0e0e0;
	}
	.navigation li > a {
		padding: .625em 1.5em;
	}
		.navigation li > a:hover {
			background: none;
		}

.main {
	padding: 0.625em 1.5em;
}

.placesOverview th {
	font-weight: normal;
}

#js-description {
	display: none;
}

#epiceditor {
	display: inline-block;
	vertical-align: top;
}